@font-face {
    font-family: myFirstFont;
    src: url(12.woff);
}

@font-face {
    font-family: oleo;
    src: url(oleo.woff);
}

@font-face {
    font-family: lili;
    src: url(lili.woff);
}

@font-face {
    font-family: amar;
    src: url(amar.woff);
}

@font-face {
    font-family: nan;
    src: url(nan.woff);
}

@font-face {
    font-family: bun;
    src: url(bungee.woff);
}

  


body {
    position:relative;
    height:100vh;
    
background-color: #cadefc;
    
transition: background-color 0.4s;          
            
            
}
#nana{
   position: absolute;
  color: #EDEADE;
font-size: 20px;
font-family: myFirstFont;
position:absolute;
top:25vh;
background-image: linear-gradient(to right,#f85032
,#e73827);
text-align: center;
border-radius: 12px;
padding-top: 7px;
padding-right: 4px;
padding-left: 4px;
border-style: solid;
-webkit-text-stroke: 0px rgb(12, 12, 12);
border-style: solid;
border-width: thin medium ;
border-color: #181717;
padding-bottom: 7px;
right:12vh;



}

#copy:active{
    transition: 0.3s;
background-color: #ff4b1f;
background-color opacity: 70%;

}
#quote{
    position:absolute;
    top:60vh;
    right:24vh;
    font-size: 20px;
    border-radius: 10px ;
    text-decoration: none;
    border: #181717 ;
    border-style :solid;
    font-family: oleo;
    background-color: #00d2ff;
    border-width: thin medium;
    
}
#quote:active {
    transition: 0.4s;
    background-color:#3a6073;
   background-color opacity: 90%;
   
   
}

#background {
    position: absolute;
    top:68vh;
    right:16vh;
    font-size: 20px;
    font-family: lili;
    border-radius: 10px;
    background-color: #FF5F6D;
    border-style: solid;
}
#background:active{
    background-color: #2196f3;
    background-color opacity: 90%;
}
#copy{
    position: absolute;
    top: 23vh;
    font-family: amar;
    right:12vh;
    font-size: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #FAF9F6;
}
#screenshot{
    position: absolute;
    top: 23vh;
    right:75%;
    font-family: amar;
    font-size: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: #FAF9F6;
}
#screenshot:active{
    background-color: #4B79A1;
    background-color opacity: 90%;
    
}
#remove{
    position: absolute;
    top:30vh;
    left:13vh;
    font-size: 10px;
    border-radius: 8px ;
   color: #4B79A1;
   font-family: myFirstFont;
   font-style: italic;
   border-style: solid;
   background-color: 	#FFF8DC;
   transition: 1s;
   border-width:thin medium;
   padding:3px;
   background-color: #F5F5DC	;
}
#Check{
    position: absolute;
   font-family: nan; 
   background-color: #3a6073;
   font-size: 15px;
   border-style: solid;
   border-radius: 4px;
   top:8px;
   
}
#Check:active{
    
    background-color:#114357;
   background-color opacity: 90%;
}

#laboon{
    position: absolute;
    top:7vh;
    font-family: bun;
    left: 3vh;
    font-size:30px;
    text-shadow: 4px 4px #3a6073 ;
    border-radius: 12px;

}

#laboon:active{
    background-color:#114357;
   background-color opacity: 90%;
   
}
